<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.android.component.accounts_ui_component">

  <application>
    <activity android:name=".BasePhoneVerificationActivity"></activity>
    <activity android:name=".BasePhoneAuthActivity" />
    <activity android:name=".BaseLoginActivity" />
  </application>

</manifest>